<div id="openseadragon1" style="width: 800px; height: 600px;"></div>
{% capture image_url %} {{ site.cdm-url }}/digital/iiif/{% if item.title %}{{ item.collectionid | default: site.cdm-collection-id }}/{{ item.cdmid }}{% else %}{{ page.collectionid | default: site.cdm-collection-id }}/{{ page.cdmid }}{% endif %}/full/pct:{{ site.data.theme.image-percentage-large | default: '70' }}/0/default.jpg{% endcapture %}
<script type="text/javascript">
    OpenSeadragon({
        id: "openseadragon1",
        prefixUrl: "../../openseadragon-bin-3.1.0/images/",
        tileSources:   [{
          "@context": "http://iiif.io/api/image/3/context.json",
          "@id": "{{ image_url }}",
          "type": "ImageService3",
          "protocol": "http://iiif.io/api/image",
          "profile": "level2",
          "width": 800,
          "height": 600,
        }],
    });
</script>
