{% capture image_url %} {{ site.cdm-url }}/digital/iiif/{% if item.title %}{{ item.collectionid | default: site.cdm-collection-id }}/{{ item.cdmid }}{% else %}{{ page.collectionid | default: site.cdm-collection-id }}/{{ page.cdmid }}{% endif %}/full/pct:{{ site.data.theme.image-percentage-large | default: '70' }}/0/default.jpg{% endcapture %}
{{ image_url }}
<div id="openseadragon1" style="width: 800px; height: 600px;"></div>
<script src="../../openseadragon/openseadragon.min.js"></script>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        tileSources: {{ image_url }}
    });
</script>
